.custom-navbar {
    background-color: #669bbc !important;
    color: white; /* Ajustez la couleur du texte pour une meilleure visibilité */
  }
  
  mat-toolbar.custom-navbar {
    background-color: #669bbc !important;
    color: white;
  }
  