/* General layout for button container */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.button-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 20px;
}

button[mat-raised-button] {
  font-weight: bold;
  font-size: 16px;
  padding: 12px 20px;
  border-radius: 25px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  text-transform: uppercase;
  color: white;
}

button[mat-raised-button]:hover {
  background-color: #3f51b5;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  transform: translateY(-3px);
}

button[mat-raised-button]:active {
  background-color: #1e88e5;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  transform: translateY(2px);
}

mat-icon {
  margin-right: 8px;
  font-size: 20px;
}

/* Styling for the tables */
table.mat-elevation-z8 {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

th.mat-header-cell, td.mat-cell {
  text-align: left;
  padding: 12px;
  font-size: 14px;
}

th.mat-header-cell {
  background-color: #6c757d;
  color: white;
  font-weight: bold;
}

td.mat-cell {
  background-color: #f9f9f9;
}

tr.mat-row:hover td.mat-cell {
  background-color: #f1f1f1;
}

/* Table Header Row */
tr.mat-header-row {
  background-color: #f8f9fa;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

button:hover mat-icon {
  color: #f44336;
}

/* Styling for CV Links */
a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: #3f51b5;
}

/* Specific table columns */
td.mat-cell a mat-icon {
  font-size: 18px;
}

/* Edit/Delete buttons in table */
button.mat-icon-button {
  color: #f44336;
  transition: transform 0.3s ease;
}

button.mat-icon-button:hover {
  transform: scale(1.1);
}

mat-icon {
  font-size: 20px;
  color: #64a6bd;
}

/* Spacing for sections */
h3 {
  color: #333;
  font-size: 20px;
  font-weight: 600;
  margin-top: 30px;
}

br {
  margin-top: 40px;
}